<nav class="navbar">
  <div class="navbar_left-section">
    <ul class="navbar_left-section_links">
      <li (click)="redirectToInProgress()">
        <p class="navbar-option">
          Prontuário
        </p>
      </li>
      <li (click)="redirectToInProgress()">
        <p class="navbar-option">
          Exames
        </p>
      </li>
      <li (click)="redirectToInProgress()">
        <p class="navbar-option">
          Contatos de Segurança
        </p>
      </li>
    </ul>
  </div>
</nav>