.input-component_error {
  color: var(--warning);
  font-size: var(--font-size-sm);
}

.mdc-text-field {
  padding: 0 !important;
  border-radius: 100px !important;
}

.mat-error,
.input-component_error {
  color: var(--warning);
  font-size: 12px;
  margin-top: 4px;
  letter-spacing: 0.03333em;
  line-height: 1.5;
  display: block;
}
