<section class="my-exams-page">
  <app-loading *ngIf="isLoading" />

  <ng-container *ngIf="!isLoading">
    <nav class="breadcrumb">
      <a (click)="goBackToMyHome()" class="breadcrumb-link">
        ← Voltar para Minhas Funcionalidades
      </a>
    </nav>

    <h2 class="my-exams-title">Meus exames</h2>
    <p class="my-exams-description">
      Visualize, gerencie, adicione e compartilhe seus exames e laudos médicos
    </p>
    <ng-container *ngIf="exams && exams.length > 0">
      <ul class="exam-list">
        <li
          *ngFor="let exam of exams"
          class="exam-item"
          (click)="navigateToExamDetails(exam)"
        >
          <span class="exam-name">{{ exam.title | capitalize }}</span>
          <span class="exam-type">{{ getExamTypeName(exam.type) }}</span>
          <span class="exam-date">{{ exam.date | date: 'dd/MM/yyyy' }}</span>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf="exams && exams.length === 0">
      <p class="no-exams-message">
        Você ainda não adicionou nenhum exame ao seu repositório de saúde.
      </p>
    </ng-container>

    <div class="add-exam-section">
      <button
        mat-raised-button
        (click)="navigateToAddExamPage()"
        class="add-exam_button"
        [disabled]="isLoading"
        [ngClass]="{ 'add-exam_enabled': !isLoading }"
      >
        Adicionar Exame
      </button>
    </div>
  </ng-container>
</section>
