<section class="my-exams-page">
  <app-loading *ngIf="isLoading" />

  <h2 class="my-exams-title">Meus exames</h2>

  <ng-container *ngIf="exams && exams.length > 0; else noExamsTemplate">
    <ul class="exam-list">
      <li
        *ngFor="let exam of exams"
        class="exam-item"
        (click)="navigateToExamDetails(exam)"
      >
        <span class="exam-name">{{ exam.name }}</span>
      </li>
    </ul>
  </ng-container>

  <ng-template #noExamsTemplate>
    <p class="no-exams-message">
      Você ainda não adicionou nenhum exame ao seu repositório de saúde.
    </p>
  </ng-template>

  <div class="add-exam-section">
    <button
      mat-raised-button
      (click)="navigateToAddExamPage()"
      class="add-exam_button"
      [disabled]="isLoading"
      [ngClass]="{ 'add-exam_enabled': !isLoading }"
    >
      Adicionar Exame
    </button>
  </div>
</section>
