.sign_up-patient_form {
  padding: var(--spacing-lg) 0;

  /* .flex-row {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5rem;
  } */

  .sign_up-form-section {
    margin-top: var(--spacing-lg);
  }
}
