:root {
    --white: rgb(252, 252, 253);
    --gray: rgb(197, 193, 191);
    --darker-gray: rgb(104, 102, 102);
    --blue: rgb(13, 53, 67);

    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 24px;
    --spacing-lg: 32px;
    --spacing-xl: 56px;

    --font-size-xs: 12px;
    --font-size-sm: 16px;
    --font-size-md: 20px;
    --font-size-lg: 32px;
    --font-size-xl: 40px;
}