<footer class="footer-wrapper">
  <div class="footer-content">
    <div class="footer-section">
      <img class="icon-img" src="/iData.png" alt="Logo iData"/>
      <ul>
        <li><a href="#">Sobre o iData</a></li>
        <li><a href="#">Política de privacidade</a></li>
        <li><a href="#">Termos de uso</a></li>
      </ul>
    </div>
    <div class="footer-section contact-section">
      <h4>Contato</h4>
      <ul>
        <li><a href="#">e-mail.com</a></li>
        <li><a href="#">11 1234 5678</a></li>
      </ul>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>