<section class="personal-user-form_container">
  <form
    *ngIf="personalForm"
    class="personal-user-form_section"
    [formGroup]="personalForm"
    (ngSubmit)="onSubmitButtonClicked()"
  >
    <div class="personal-user-form_div">
      <app-input
        formControlName="name"
        label="Nome completo"
        [errorMessage]="getErrorMessage('name', 'nome e sobrenome(s)')"
      />

      <div class="flex-row">
        <app-input
          class="cpf-input"
          formControlName="cpf"
          label="CPF"
          type="tel"
          placeholder="Formato: 000.000.000-00"
          [errorMessage]="getErrorMessage('cpf', '000.0000.000-00')"
          mask="000.000.000-00"
        />

        <app-input
          class="birthdate-input"
          formControlName="birthdate"
          label="Data de nascimento"
          placeholder="Formato: dd/mm/aaaa"
          [errorMessage]="getErrorMessage('birthdate', 'dd/mm/aaaa')"
          mask="d0/M0/0000"
        />
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="personal-user-form_div">
      <app-input
        formControlName="street"
        label="Endereço"
        [errorMessage]="getErrorMessage('street')"
      />

      <div class="flex-row">
        <app-input
          class="address-number-input"
          formControlName="addressNumber"
          label="Número"
          type="number"
          [errorMessage]="getErrorMessage('addressNumber')"
        />

        <app-input
          class="complement-input"
          formControlName="addressComplement"
          label="Complemento"
          [errorMessage]="getErrorMessage('addressComplement')"
        />
      </div>

      <div class="flex-row">
        <app-input
          class="neighborhood-input"
          formControlName="neighborhood"
          label="Bairro"
          [errorMessage]="getErrorMessage('neighborhood')"
        />

        <app-input
          class="zip-code-input"
          formControlName="zipCode"
          label="CEP"
          type="tel"
          placeholder="Formato: 00000-000"
          [errorMessage]="getErrorMessage('zipCode', '00000-000')"
          mask="00000-000"
        />
      </div>

      <div class="flex-row">
        <app-input
          class="city-input"
          formControlName="city"
          label="Cidade"
          [errorMessage]="getErrorMessage('city')"
        />

        <app-input
          class="state-input"
          formControlName="state"
          label="Estado"
          [errorMessage]="getErrorMessage('state')"
        />
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="personal-user-form_div">
      <app-input
        formControlName="phone"
        label="Telefone"
        type="tel"
        placeholder="Formato: (00)00000 0000"
        [errorMessage]="getErrorMessage('phone', '(00) 00000-0000')"
        mask="(00) 00000-0000"
      />

      <app-input
        formControlName="email"
        label="E-mail"
        type="email"
        [errorMessage]="getErrorMessage('email')"
      />
    </div>

    <mat-divider class="divider"></mat-divider>
    <div class="personal-user-form_div flex-row" *ngIf="mode === 'register'">
      <app-input
        class="password-input"
        formControlName="password"
        label="Senha"
        type="password"
        placeholder="Deve conter, no mínimo 6 caracteres, um número e um caracter especial."
        [errorMessage]="
          getErrorMessage(
            'password',
            'mínimo 6 caracteres, um número e um caracter especial'
          )
        "
      />

      <app-input
        class="password-input"
        formControlName="confirmPassword"
        label="Confirme a senha"
        type="password"
        [errorMessage]="getErrorMessage('confirmPassword')"
      />
    </div>

    <div class="submit-section" *ngIf="mode !== 'view'">
      <button
        mat-raised-button
        type="submit"
        class="submit_button"
        [disabled]="personalForm.invalid"
        [ngClass]="{ 'submit_button-enabled': !personalForm.invalid }"
      >
        {{ buttonLabel }}
      </button>
    </div>
  </form>
</section>
