.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-green);
  padding: var(--spacing-sm) var(--spacing-xl);
}

.navbar_left-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_logo_div {
  margin-right: var(--spacing-xl);
  color: var(--blue);
  padding: 0;
}

.navbar_left-section_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navbar_left-section_links li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-right: var(--spacing-lg);
}

.navbar_right-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_right-section_login {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.navbar_right-section_login i {
  margin-right: var(--spacing-xs)
}

.navbar-option {
  cursor: pointer;
  color: var(--blue);
  font-weight: 500;
  font-size: var(--font-size-md);
}

.navbar-option:hover {
  cursor: pointer;
  color: var(--darker-blue);
}

.icon-img {
  max-width: 120px;
}