<nav class="navbar">
  <div class="navbar_left-section">
    <div class="navbar_logo_div">
      <!-- <img class="icon-img" src="/assets/logo.svg"/> -->
      <h1>Logo iData</h1>
    </div>
    <ul class="navbar_left-section_links">
      <li (click)="redirectToHomepage()">
        <p class="navbar-option">
          Home
        </p>
      </li>
      <li (click)="redirectToAboutUs()">
        <p class="navbar-option">
          Sobre nós
        </p>
      </li>
    </ul>
  </div>

  <div class="navbar_right-section">
    <div class="navbar_right-section_login navbar-option" (click)="redirectToLogin()">
      <i class="fa-solid fa-user "></i>
      Login
    </div>
  </div>
</nav>