<nav class="navbar">
  <div class="navbar_left-section">
    <div class="navbar_logo_div">
      <img class="icon-img" src="/iData.png" alt="Logo iData" />
    </div>
    <ul class="navbar_left-section_links">
      <li (click)="redirectToHomepage()">
        <p class="navbar-option">Home</p>
      </li>
      <li (click)="redirectToAboutUs()">
        <p savour="navbar-option">Sobre nós</p>
      </li>
    </ul>
  </div>

  <div class="navbar_right-section">
    <!-- <div
      *ngIf="!isLoggedIn"
      class="navbar_right-section_login navbar-option"
      (click)="redirectToLogin()"
    >
      <i class="fa-solid fa-user"></i>
      <p class="navbar-option">Login</p>
    </div> -->

    <div
      *ngIf="!isLoggedIn"
      class="navbar_right-section_login navbar-option"
      (mouseenter)="showDropdown = true"
    >
      <i class="fa-solid fa-user"></i>
      <p class="navbar-option">Meu perfil</p>
      <app-logged-in-dropdown
        *ngIf="showDropdown"
        (mouseleave)="showDropdown = false"
      ></app-logged-in-dropdown>
    </div>
  </div>
</nav>
