<section class="verify-container">
  <app-loading *ngIf="isSubmitting" />

  <h2>Verificação de código</h2>

  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>

  <form [formGroup]="codeForm" (ngSubmit)="submitCode()">
    <label for="code">Digite o código de 6 dígitos:</label>
    <input
      id="code"
      formControlName="code"
      maxlength="6"
      type="text"
      pattern="\d*"
    />
    <div
      *ngIf="codeForm.get('code')?.invalid && codeForm.get('code')?.touched"
      class="error"
    >
      Código inválido. Deve conter 6 dígitos numéricos.
    </div>

    <button
      mat-raised-button
      color="primary"
      class="login-button"
      type="submit"
      [disabled]="codeForm.invalid || isSubmitting"
      [ngClass]="{'login_button-enabled': !codeForm.invalid && !isSubmitting}"
    >
      Verificar
    </button>

    <div class="divider-with-text">
      <mat-divider></mat-divider>
      <span class="divider-text">ou</span>
      <mat-divider></mat-divider>
    </div>

    <button
      mat-stroked-button
      color="secondary"
      class="resend-code"
      (click)="resendCode()"
      [disabled]="!canResendCode || isSubmitting"
    >
      Reenviar código
      <span *ngIf="!canResendCode"> ({{ resendCountdown }}s)</span>
    </button>
  </form>
</section>
