.verify-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--darker-gray);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 80px auto;
}

h2 {
  font-size: var(--font-size-lg);
  font-weight: bold;
  margin-bottom: 8px;
}

.success-message {
  color: var(--success);
  font-weight: bold;
  margin-bottom: var(--spacing-md);
}

label {
  font-size: var(--font-size-md);
  color: var(--darker-gray);
  display: block;
  margin-bottom: 8px;
}

input[type="text"] {
  font-size: var(--font-size-md);
  padding: 10px;
  width: 100%;
  text-align: center;
  letter-spacing: 8px;
  border: 1px solid var(--gray);
  border-radius: 8px;
  margin-bottom: 16px;
}

.login-button {
  margin-top: 1rem;
  cursor: not-allowed;
  font-size: var(--font-size-md);
  padding: var(--spacing-sm);
  background-color: var(--white);
  color: var(--white);
  border-radius: 5px;
  width: 100%;
}

.login_button-enabled {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  padding: var(--spacing-sm, 12px);
}

.divider-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.mat-divider {
  flex: 1;
  border-top-color: var(--gray);
  border-top-width: 1px;
}

.divider-text {
  padding: 0 10px;
  font-size: var(--font-size-md);
  color: var(--darker-gray);
}

.resend-code {
  color: var(--primary-color);
  cursor: pointer;
  width: 100%;
  text-align: center;
  align-items: center;
  display: inline-block;
  border-radius: 5px;
  text-decoration: underline;
}

.resend-code:hover {
  color: var(--darker-blue);
}

.error {
  color: var(--warning);
  font-size: var(--font-size-sm);
  margin-top: 6px;
}
