.modal-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-sm) var(--spacing-md) 0 var(--spacing-md);
}

h2[mat-dialog-title] {
  margin: 0;
  font-size: var(--font-size-lg);
  font-weight: bold;
  color: var(--blue);
}

.close-button {
  position: absolute;
  top: var(--spacing-xs);
  right: var(--spacing-xs);
  background-color: var(--white);
  border-radius: 50%;
  width: var(--spacing-lg);
  height: var(--spacing-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.close-button mat-icon {
  font-size: 24px;
  color: var(--darker-gray);
}

.scrollable-content {
  max-height: 200px;
  overflow-y: auto;
  padding: 0 var(--spacing-md) var(--spacing-sm) var(--spacing-md);
  color: var(--darker-gray);
}

mat-checkbox {
  display: block;
  margin: var(--spacing-sm) var(--spacing-md);
  color: var(--darker-gray);
}

:host ::ng-deep mat-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
}

:host ::ng-deep mat-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled ~ .mdc-checkbox__background {
  border-color: var(--blue) !important;
}

.register-submit-section {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-sm);
  width: 100%;
  padding: 0 var(--spacing-md) var(--spacing-sm) var(--spacing-md);
}

.submit_button {
  font-size: var(--font-size-md);
  font-weight: 300;
  padding: var(--spacing-xs);
  border-radius: 20px;
  width: 100%;
  cursor: not-allowed;
  color: var(--gray);
}

.submit_button-enabled {
  background-color: var(--blue);
  color: var(--white) !important;
  cursor: pointer;
}

.submit_button:disabled {
  color: var(--gray) !important;
  background-color: var(--white);
  opacity: 0.5;
}