.update-password-page {
  padding: 5rem 30rem;
}

h1 {
  margin-bottom: 2rem;
}

.submit-section {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-lg);

  .submit_button {
    font-size: var(--font-size-md);
    padding: var(--spacing-sm);
    border-radius: 20px;
    width: 100%;
    cursor: not-allowed;
  }

  .submit_button-enabled {
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
  }
}
