<section class="update-password-page">
  <ng-container *ngIf="isLoading">
    <app-loading />
  </ng-container>

  <div class="update-password-page_container" *ngIf="!isLoading">
    <h1>Atualizar Senha</h1>

    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <app-input
        formControlName="currentPassword"
        label="Senha atual"
        type="password"
        [errorMessage]="getErrorMessage('currentPassword', 'nome e sobrenome(s)')"
      />

      <app-input
        formControlName="newPassword"
        label="Nova senha"
        type="password"
        placeholder="Deve conter, no mínimo 6 caracteres, um número e um caracter especial."
        [errorMessage]="getErrorMessage('newPassword', 'mínimo 6 caracteres, um número e um caracter especial')"
      />

      <app-input
        formControlName="confirmPassword"
        type="password"
        label="Confirmar nova senha"
        [errorMessage]="getErrorMessage('confirmPassword')"
      />

      <div class="submit-section">
        <button
          mat-raised-button
          type="submit"
          class="submit_button"
          [disabled]="!isFormValid()"
          [ngClass]="{ 'submit_button-enabled': isFormValid() }"
        >
          Atualizar senha
        </button>
      </div>
    </form>
  </div>
</section>
