<div class="dropdown-menu">
  <div class="dropdown-item" (click)="redirectToMyAccount()">Meu cadastro</div>
  <div class="dropdown-item" (click)="redirectToMyHome()">
    Minhas funcionalidades
  </div>
  <div class="dropdown-item" (click)="redirectToUpdatePassword()">
    Editar senha
  </div>
  <div class="dropdown-item" (click)="showLogoutModal()">Logout</div>
</div>

<app-modal
  *ngIf="shouldShowLogoutModal"
  [title]="'Confirmar logout'"
  [message]="'Você tem certeza que deseja sair da sua conta?'"
  [ctaText]="'Sair'"
  (ctaAction)="logout()"
  (close)="closeModal()"
/>
