.my-account-page {
  padding: 5rem 20rem;
}

.delete-account-div {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-lg);
  align-items: center;
  cursor: pointer;
  font-size: var(--font-size-md);
  color: var(--warning);
  gap: var(--spacing-xs);
}
