<div class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Termos e condições</h2>
      <button mat-icon-button class="close-button" (click)="onCancel()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    
    <div class="modal-body">
      <p class="modal-message">
        Ao prosseguir com o cadastro, você declara estar ciente de que seus dados pessoais e, quando aplicável, informações médicas sensíveis, serão armazenados de forma segura e criptografada na plataforma iData, em conformidade com a Lei Geral de Proteção de Dados Pessoais (LGPD).
      </p>
      <p class="modal-message">
        Usuários com perfil Paciente poderão armazenar e compartilhar seus exames com Profissionais de Saúde cadastrados na plataforma. O acesso a cada exame compartilhado será temporário, com validade máxima de 24 horas após o envio, sendo automaticamente revogado após esse período.
      </p>
      <p class="modal-message">
        Usuários com perfil Profissional de Saúde poderão visualizar apenas os exames que lhes forem compartilhados, e cada acesso será registrado pelo sistema, incluindo a identificação do profissional, o exame acessado, a data e o horário da visualização.
      </p>
      <p class="modal-message">
        Esses registros garantem transparência, rastreabilidade e segurança no tratamento das informações. O controle sobre o compartilhamento e o acesso às informações permanece sempre sob responsabilidade do usuário titular dos dados.
      </p>
    </div>
    <mat-checkbox [(ngModel)]="termsAccepted"
      >Sim, eu aceito os termos e condições.
    </mat-checkbox>

    <div class="register-submit-section">
      <button
        mat-button
        class="submit_button"
        [ngClass]="{ 'submit_button-enabled': termsAccepted }"
        (click)="onAccept()"
        [disabled]="!termsAccepted"
      >
        Cadastrar
      </button>
    </div>
  </div>
</div>
