.edit-account-page {
  padding: 5rem 20rem;
}

.breadcrumb {
  margin-bottom: var(--spacing-xl);
}

.breadcrumb-link {
  color: var(--darker-blue);
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  transition: text-decoration 0.2s;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}
