<section class="edit-account-page">
  <app-loading *ngIf="isLoading" />

  <ng-container *ngIf="!isLoading">
    <nav class="breadcrumb">
      <a (click)="goBackToMyAccount()" class="breadcrumb-link">
        ← Voltar para Meu Cadastro
      </a>
    </nav>

    <h2 class="my-account-username">Dados cadastrais</h2>

    <ng-container *ngIf="userType === userTypeEnum.personal">
      <app-personal-user-form
        mode="edit"
        [initialData]="user"
        buttonLabel="Salvar alterações"
        (onSubmit)="updateUser($event)"
      />
    </ng-container>

    <ng-container *ngIf="userType === userTypeEnum.professional">
      <app-professional-user-form
        mode="edit"
        [initialData]="user"
        buttonLabel="Salvar alterações"
        (onSubmit)="updateUser($event)"
      />
    </ng-container>
  </ng-container>
</section>
