@import "styles/variables.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: (--text-color);
  font-size: var(--font-size-sm);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Material style overrides */
.mat-datepicker-toggle .mat-icon-button {
  background-color: red;
}

.mat-calendar {
  background-color: var(--white);
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(
    .mat-calendar-body-comparison-identical
  ) {
  border-color: var(--blue) !important;
}

.mat-datepicker-content-touch .mat-datepicker-content-container {
  height: auto !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--white) !important;
}

.mat-calendar-body-selected {
  background-color: var(--blue) !important;
}

.mat-mdc-form-field {
  width: 100% !important;
  border-radius: 80px !important;
}

.mat-mdc-text-field-wrapper {
  border-radius: 20px !important;
}

.mat-raised-button {
  font-size: var(--font-size-md) !important;
}

.custom-snackbar {
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 16px;
  border-radius: 4px;
}

.mat-mdc-snack-bar-container {
  &.success-snackbar {
    --mdc-snackbar-container-color: var(--success);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.mat-mdc-snack-bar-container {
  &.error-snackbar {
    --mdc-snackbar-container-color: var(--warning);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}
