@import 'styles/variables.css';

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto;
    min-height: 100vh;
    background-color: var(--background-color);
    color: (--text-color);
    font-size: var(--font-size-sm);
}