<section class="view-exam-page">
  <app-loading *ngIf="isLoading" />

  <ng-container *ngIf="!isLoading">
    <nav class="breadcrumb">
      <a (click)="goBackToList()" class="breadcrumb-link">
        ← Voltar para Meus Exames
      </a>
    </nav>

    <div class="exam-header">
      <h2 class="view-exam-title">{{ exam.title | capitalize }}</h2>
      <span class="exam-type-chip">{{ getExamTypeName(exam.type) }}</span>
    </div>

    <div class="exam-details">
      <div class="exam-info">
        <p>
          <strong>Data do exame:</strong>
          {{ exam.date | date: 'dd/MM/yyyy' }}
        </p>
        <p>
          <strong>Descrição:</strong>
          {{ exam.description }}
        </p>

        <div class="exam-actions">
          <button
            class="edit-exam-button exam-button"
            (click)="navigateToEditExam()"
            [disabled]="isLoading"
          >
            Editar Exame
          </button>
          <button
            class="delete-exam-button exam-button"
            (click)="openDeleteExamModal()"
            [disabled]="isLoading"
          >
            Excluir Exame
          </button>
        </div>
      </div>

      <div class="exam-file-viewer">
        <ng-container *ngIf="exam.fileContent">
          <h3>Arquivo do exame</h3>
          <pdf-viewer
            [src]="'data:application/pdf;base64,' + exam.fileContent"
            [render-text]="true"
            style="display: block; width: 100%; height: 600px"
            [original-size]="false"
            [show-all]="true"
            [zoom]="1.0"
            [autoresize]="true"
          ></pdf-viewer>
        </ng-container>

        <ng-container *ngIf="!exam.fileContent">
          <p>Arquivo não disponível.</p>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <app-modal
    *ngIf="showConfirmDeleteExamModal"
    [title]="'Deletar exame'"
    [message]="'Você tem certeza que deseja excluir este exame?'"
    [ctaText]="'Excluir'"
    (ctaAction)="confirmDeleteExam()"
    (close)="closeDeleteExamModal()"
  ></app-modal>
</section>
