<section class="delete-account-container">
  <app-loading *ngIf="isSubmitting"></app-loading>

  <h2>Confirmar exclusão de conta</h2>

  <p *ngIf="message" class="message">{{ message }}</p>

  <form [formGroup]="codeForm" (ngSubmit)="submitCode()">
    <label for="code">Digite o código de 6 dígitos:</label>
    <input
      id="code"
      formControlName="code"
      maxlength="6"
      type="text"
      pattern="\d*"
    />
    <div
      *ngIf="codeForm.get('code')?.invalid && codeForm.get('code')?.touched"
      class="error"
    >
      Código inválido. Deve conter 6 dígitos numéricos.
    </div>

    <button
      mat-raised-button
      color="primary"
      class="submit-button"
      type="submit"
      [disabled]="codeForm.invalid || isSubmitting"
      [ngClass]="{'submit-button-enabled': !codeForm.invalid && !isSubmitting}"
    >
      Excluir minha conta
    </button>
  </form>
</section>
