.delete-account-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 20rem;
  padding-bottom: 10rem;
}

h2 {
  font-size: var(--font-size-lg);
  font-weight: bold;
  margin-bottom: var(--spacing-xs);
}

.message {
  color: var(--success);
  font-weight: bold;
  margin-bottom: var(--spacing-md);
}

.delete-account-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

label {
  font-size: var(--font-size-md);
  color: var(--darker-gray);
  display: block;
  margin-bottom: var(--spacing-sm);
}

input[type="text"] {
  font-size: var(--font-size-md);
  padding: var(--spacing-sm);
  text-align: center;
  letter-spacing: 8px;
  border: 1px solid var(--gray);
  border-radius: 8px;
  margin-bottom: var(--spacing-md);
}

.submit-button {
  margin-top: var(--spacing-md);
  cursor: not-allowed;
  font-size: var(--font-size-md);
  padding: var(--spacing-sm);
  background-color: var(--gray);
  color: var(--white);
  border-radius: 5px;
  width: 100%;
}

.submit-button-enabled {
  background-color: var(--darker-blue);
  color: var(--white);
  cursor: pointer;
  padding: var(--spacing-sm);
}

.divider-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  margin: var(--spacing-md);
}

.mat-divider {
  flex: 1;
  border-top-color: var(--gray);
  border-top-width: 1px;
}

.divider-text {
  padding: 0 var(--spacing-xs);
  font-size: var(--font-size-sm);
  color: var(--darker-gray);
}

.resend-code {
  color: var(--primary-color);
  cursor: pointer;
  width: 100%;
  text-align: center;
  align-items: center;
  display: inline-block;
  border-radius: 5px;
  text-decoration: underline;
}

.resend-code:hover {
  color: var(--darker-blue);
}

.error {
  color: var(--warning);
  font-size: var(--font-size-sm);
  margin-top: var(--spacing-xs);
}
